
<div class="container">
  <div class="success-page mt-5">
      <div class="success-message text-center p-5 shadow">
          <h1 class="display-4">Congratulations!</h1>
          <p class="lead">Your order has been successfully placed and payment has been processed.</p>
          <p class="order-number">Your order number is {{ orderId }}. We will send you an email with the order details.</p>
          <p class="thank-you">Thank you for shopping with us. We hope you enjoy your purchase!</p>
          <button class="btn btn-primary mt-4" routerLink="/shop">Continue Shopping</button>
      </div>
  </div>
</div>
