<div style="display: flex; justify-content: space-between;">
    <h2>Cart List</h2>
    <!-- <button></button> -->
</div>
<table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; let i = index">
        <td>{{ item.itemName }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.quantity * item.price | currency }}</td>
        <td>
          <button (click)="removeItem(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  
